html {
    height: 100%;
    display: grid;
}

body {
    font-family: "Century Gothic", serif;
    font-size: 24px;
    background-color: #1c1c1c;
    color: white;
    margin: auto;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: -20vh;
}

h1 {
    font-family: "Bahnschrift Light", sans-serif;
    font-size: 42px;
    margin-bottom: 90px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edit {
    padding: 0.7em;
    background-color: black;
    color: white;
    border: 1.9px solid white;
    border-radius: 0.4em;
    display: block;
    width: 300px;
}

::placeholder {
    color: white;
}

button {
    padding: 0.2em 1.4em;
    font-size: 14px;
    background-color: dodgerblue;
    color: black;
    border: 4px solid dodgerblue;
    border-radius: 0.4em;
    margin-top: 40px;
}

#error-input {
    display: none;
    color: red;
}
